github##https://github.com/sadheeshkt/spring-cld.git##/greeting-service/pom.xml
github##https://github.com/sadheeshkt/spring-cld1.git##/greeting-service/pom1.xml
github##https://github.com/sadheeshkt/spring-cld2.git##/greeting-service/pom2.xml
github##https://github.com/sadheeshkt/spring-cld3.git##/greeting-service/pom3.xml
